.content_form input::placeholder {
    padding-left: .4em;
  }
input {
  flex: 1;
  height: 38px; 
  margin-left: 0;
  margin-right: 100px;
  font-family: inherit;
  font-size: 14px; 
  padding: 8px 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
    

  }
  input:focus {
    outline: none; 
    box-shadow: 0 0 0 2px #3921a5; 
  }
  

  
