@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Poppins:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Poppins;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.container {
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    border-radius: 23px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
}
.content_form {
    height: 70vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content_left{
    height: 90vh;
    width: 40%;
    background-color: green;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #f0f0f0;
    padding: 3em;
    text-align: left;
}
.button_left {
    width: 15em;
    height: 4.2em;
    margin-top: 3em;
    margin-bottom: 2em;
    margin-left: 4.5em;
    border-radius: 35px;
    border: 3px solid white;
    background-color: green;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
.button_left:hover{
    background-color: rgb(12, 99, 12);
    border: 3px solid rgb(12, 99, 12);
}
.tittle_left{
    margin-top: 30%;
}
.hrtg{
    width: 90%;
    margin: 20px;
    margin-bottom: 15%;
    background-color: green;
  }