@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        font-family: Poppins;
}
.container {
    width: 100vw;
    height: 100vh;
}
.conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50%;
    width: 80vw;
}
h1 {
    color: #fff;
    text-transform: uppercase;
}
.conteudo input{
    width: 300px;
    height: 3em;
    margin-top: 2.5em;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
}
.conteudo button {
    margin-top: 2.9em;
    width: 180px;
    height: 3em;
    border: none;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
    border-radius: 13px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
.table {
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .table th {
    border: 1px solid #cfcbcb;
    padding: 8px;
    color: black;
  }
  .table td {
    border: 1px solid #fff;
    padding: 8px;
    color: #fff;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  .icones {
    margin-top: 10px;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    gap: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }

.editForm {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}
.editForm button {
  margin-top: 3em;
  border-radius: 13px;
  box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
}

.containerAdminNavBar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}
.formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  
}

.formGroup label {
  width: 170px;
  margin-right: 10px;
  color: white;
}

.formGroup input, select{
  flex: 1;
  height: 38px; 
  margin-left: 0;
  margin-right: 100px;
  font-family: inherit;
  font-size: 14px; 
  padding: 8px 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}


.formGroup input:focus {
  outline: none; 
  box-shadow: 0 0 0 2px #3921a5; 
}




