@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
  --cor0: rgb(18, 18, 20);
  --cor1: #03A64A;
}
.conteudo h1{
  font-family: var(--font0);
  text-align: center;
  font-size: 40px;
  color: white;
  padding: 15px;
  border-bottom: 1px solid grey;
}
main .section_tabela {
  width: 85%;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  background-color: rgb(32, 32, 36);
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.479);
  overflow-x: auto;
}
main .section_tabela > table {
  width: 98%; 
  margin-top: 30px;
  padding-left: 15px;
}
main .section_tabela th {
  color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.267);
  padding: 8px;
  text-align: left;
}
main .section_tabela td {
    border-bottom: 2px solid rgba(0, 0, 0, 0.267);
    padding: 15px;
    color: #fff;
    text-align: left;
  }
main .section_tabela .icones {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-left: 10px;
  color: white;
  gap: 10px;
  }
main .section_tabela .icone1 {
  background-color: #3921a5;
  width: 40px;
  height: 40px;
  color: white;
  padding: 12px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.479);
}
main .section_tabela .icone2 {
  background-color: red;
  width: 40px;
  height: 40px;
  color: white;
  padding: 12px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.479);
}
.editForm {
  width: 40%;
  position: absolute;
  left: 30%;
  top: 15%;
  margin-top: 30px;
  padding: 20px;
  background-color: var(--cor0);
  border-radius: 18px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.479);
}
.editForm > h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.editForm button {
width: 15em;
height: 50px;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.479);
cursor: pointer;
text-transform: uppercase;
border-radius: 8px;
background-color: var(--cor1);
color: #fff;
display: block;
margin: auto;
margin-top: 1em;
}
.formGroup {
display: flex;
align-items: center;
margin-bottom: 8px;
}

.formGroup label {
width: 120px;
color: var(--cor0);
}

.formGroup input, select{
flex: 1;
height: 38px; 
margin-left: 0;
margin-right: 100px;
font-family: inherit;
font-size: 14px; 
padding: 8px 12px; 
border: 1px solid #ccc; 
border-radius: 4px; 
background-color: rgb(225, 225, 230);
}
.formGroup textarea{
flex: 1;
height: 80px; 
margin-left: 0;
margin-right: 100px;
margin-top: 10px;
font-family: inherit;
font-size: 14px; 
padding: 8px 12px; 
border: 1px solid #ccc; 
border-radius: 4px; 
}