@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #161616;
    font-family: Poppins;
}
.container {
    width: 80vw;
    height: 100%;
    color: #fff;
    margin: 0 auto;
    padding-top: 8%;
}
.tittle_text {
    text-align: left;
    margin-left: 1em;
    margin-bottom: 2em;
}
.tittle_text p {
    font-size: medium;
    text-align: left;
    margin-left: 2.2em;
}
.conteudoIcon {
    margin: 80px 10px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.conteudoIcon h3 {
    margin-bottom: 2em;
}