@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #161616;
    font-family: Poppins;
}
.container {
    border-top: 0.4px solid #fff;
    width: 100vw;
    height: 100%;
}
.tittle_text {
    text-align: left;
    margin-left: 1em;
    margin-bottom: 2em;
    color: #f1f1f1;
}
.tittle_text p {
    width: 95vw;
    font-size: medium;
    text-align: left;
    margin-left: 2.2em;
    color: #f1f1f1;
}
.textoSobre {
    color: #fff;
    margin: 80px 10px 30px;
}