@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    width: 100vw;
    font-family: Poppins;
}
.cabecalho {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 50%;
}
.image {
    height: 40px;
}
.navbar  {
    display: flex;
    gap: 32px;
    font-weight: 400;
    color: #fff;
}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar li {
    margin-left: 60px;
}
.Menu_Hamburguer {
    display: none;
    font-size: 40px;
    color: #fff;
}
.item {
    display: flex;
    align-items: center;
}
.btn_sair {
    margin-right: .3em;
}

@media screen and (max-width: 768px) {
    .cabecalho {
        gap: 10%;
        align-items: flex-start;
    } 
    .Menu_Hamburguer {
        display: block;     
    }
    .navbar {
        justify-content: end;
        padding: 10px;
    }
    .cabecalho > div{
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }
    .navbar ul {
        display: block;
        background-color: rgb(32, 32, 36);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.479);
        height: 300px;
        flex-direction: column;
        align-items: center;
        padding-right: 100px;
        border-radius: 5px;
    }
    .navbar li {
        padding-left: 70px;
        margin-top: 60px;
    }
    .btn_sair {
        display: none;
    }
    .open {
        display: none;
    }
}